<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<link rel="stylesheet" href="{{MEDIA_URL}}sticky/css/basic.css" type="text/css"/>

<script src="{{MEDIA_URL}}sticky/js/jquery-1.2.6.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}sticky/js/jquery.ui.all.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}sticky/js/sticky.js" type="text/javascript"></script>
</head>

<body>

<div id="tools">
<input id="new" type="button" value="New Note"/>
<div id="trash">
Trash Note
</div>
</div>
<div id="notes">

</div>
</body>
</html>
